In [3]:
import pandas as pd
from Confg import *
import numpy as np
import os

In [73]:
from confluent_kafka import Producer
from confluent_kafka.serialization import SerializationContext, MessageField
from confluent_kafka.schema_registry import SchemaRegistryClient
from confluent_kafka.schema_registry.json_schema import JSONSerializer
from confluent_kafka.serialization import StringSerializer

In [8]:
data_directory='D:\DataScience\Projects\SensorProject\End-To-End-ML-Project\Data'

['sensor_topic1']

In [7]:
!pwd

/d/DataScience/Projects/SensorProject/End-To-End-ML-Project/DataAcquisition

In [52]:
for topic in os.listdir(data_directory):
    topic_path=os.path.join(data_directory, topic)
    for file in os.listdir(topic_path):

        df=pd.read_csv(os.path.join(topic_path,file),chunksize=1000)
        for chunk in df:
            for index,row in chunk.iterrows():
                data=row.to_dict()
                # SEND THIS DATA TO THE KAFKA TOPIC

In [61]:
df=chunk.head()

In [62]:
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
7000,neg,8,na,4,2,0,0,0,0,0,...,42,20,170,50,6,0,0,0,0,0
7001,neg,6278,na,126,0,0,0,0,0,0,...,71654,30378,55274,66960,23826,13522,16714,240,0,0
7002,neg,468,0,50,na,0,0,0,0,0,...,2612,1024,2850,11968,1580,550,2,0,0,0
7003,neg,56496,na,32,824,0,0,0,0,0,...,507980,283722,677574,520954,528994,54266,26696,236,0,0
7004,neg,10,na,18,14,2,2,0,0,0,...,160,90,90,104,68,60,0,0,0,0

In [64]:
schemaregistryclient=SchemaRegistryClient(schema_config)

In [67]:
# Create schema string
import json
with open(os.path.join(topic_path,file),'r') as file_object:
    columns=file_object.readline().strip().split(',')
schema_string={ "$id": "http://example.com/myURI.schema.json",
            "$schema": "http://json-schema.org/draft-07/schema#",
            "additionalProperties": False,
            "description": "Sample schema to help you get started.",
            "properties": dict(),
            "title": "SampleRecord",
            "type": "object"}
for col in columns:
    schema_string['properties'].update({col: {"type": "string","description": "This is a string"}})
schema_string=json.dumps(schema_string)
print(schema_string)

{"$id": "http://example.com/myURI.schema.json", "$schema": "http://json-schema.org/draft-07/schema#", "additionalProperties": false, "description": "Sample schema to help you get started.", "properties": {"class": {"type": "string", "description": "This is a string"}, "aa_000": {"type": "string", "description": "This is a string"}, "ab_000": {"type": "string", "description": "This is a string"}, "ac_000": {"type": "string", "description": "This is a string"}, "ad_000": {"type": "string", "description": "This is a string"}, "ae_000": {"type": "string", "description": "This is a string"}, "af_000": {"type": "string", "description": "This is a string"}, "ag_000": {"type": "string", "description": "This is a string"}, "ag_001": {"type": "string", "description": "This is a string"}, "ag_002": {"type": "string", "description": "This is a string"}, "ag_003": {"type": "string", "description": "This is a string"}, "ag_004": {"type": "string", "description": "This is a string"}, "ag_005": {"type": "string", "description": "This is a string"}, "ag_006": {"type": "string", "description": "This is a string"}, "ag_007": {"type": "string", "description": "This is a string"}, "ag_008": {"type": "string", "description": "This is a string"}, "ag_009": {"type": "string", "description": "This is a string"}, "ah_000": {"type": "string", "description": "This is a string"}, "ai_000": {"type": "string", "description": "This is a string"}, "aj_000": {"type": "string", "description": "This is a string"}, "ak_000": {"type": "string", "description": "This is a string"}, "al_000": {"type": "string", "description": "This is a string"}, "am_0": {"type": "string", "description": "This is a string"}, "an_000": {"type": "string", "description": "This is a string"}, "ao_000": {"type": "string", "description": "This is a string"}, "ap_000": {"type": "string", "description": "This is a string"}, "aq_000": {"type": "string", "description": "This is a string"}, "ar_000": {"type": "string", "description": "This is a string"}, "as_000": {"type": "string", "description": "This is a string"}, "at_000": {"type": "string", "description": "This is a string"}, "au_000": {"type": "string", "description": "This is a string"}, "av_000": {"type": "string", "description": "This is a string"}, "ax_000": {"type": "string", "description": "This is a string"}, "ay_000": {"type": "string", "description": "This is a string"}, "ay_001": {"type": "string", "description": "This is a string"}, "ay_002": {"type": "string", "description": "This is a string"}, "ay_003": {"type": "string", "description": "This is a string"}, "ay_004": {"type": "string", "description": "This is a string"}, "ay_005": {"type": "string", "description": "This is a string"}, "ay_006": {"type": "string", "description": "This is a string"}, "ay_007": {"type": "string", "description": "This is a string"}, "ay_008": {"type": "string", "description": "This is a string"}, "ay_009": {"type": "string", "description": "This is a string"}, "az_000": {"type": "string", "description": "This is a string"}, "az_001": {"type": "string", "description": "This is a string"}, "az_002": {"type": "string", "description": "This is a string"}, "az_003": {"type": "string", "description": "This is a string"}, "az_004": {"type": "string", "description": "This is a string"}, "az_005": {"type": "string", "description": "This is a string"}, "az_006": {"type": "string", "description": "This is a string"}, "az_007": {"type": "string", "description": "This is a string"}, "az_008": {"type": "string", "description": "This is a string"}, "az_009": {"type": "string", "description": "This is a string"}, "ba_000": {"type": "string", "description": "This is a string"}, "ba_001": {"type": "string", "description": "This is a string"}, "ba_002": {"type": "string", "description": "This is a string"}, "ba_003": {"type": "string", "description": "This is a string"}, "ba_004": {"type": "string", "description": "This is a string"}, "ba_005": {"type": "string", "description": "This is a string"}, "ba_006": {"type": "string", "description": "This is a string"}, "ba_007": {"type": "string", "description": "This is a string"}, "ba_008": {"type": "string", "description": "This is a string"}, "ba_009": {"type": "string", "description": "This is a string"}, "bb_000": {"type": "string", "description": "This is a string"}, "bc_000": {"type": "string", "description": "This is a string"}, "bd_000": {"type": "string", "description": "This is a string"}, "be_000": {"type": "string", "description": "This is a string"}, "bf_000": {"type": "string", "description": "This is a string"}, "bg_000": {"type": "string", "description": "This is a string"}, "bh_000": {"type": "string", "description": "This is a string"}, "bi_000": {"type": "string", "description": "This is a string"}, "bj_000": {"type": "string", "description": "This is a string"}, "bk_000": {"type": "string", "description": "This is a string"}, "bl_000": {"type": "string", "description": "This is a string"}, "bm_000": {"type": "string", "description": "This is a string"}, "bn_000": {"type": "string", "description": "This is a string"}, "bo_000": {"type": "string", "description": "This is a string"}, "bp_000": {"type": "string", "description": "This is a string"}, "bq_000": {"type": "string", "description": "This is a string"}, "br_000": {"type": "string", "description": "This is a string"}, "bs_000": {"type": "string", "description": "This is a string"}, "bt_000": {"type": "string", "description": "This is a string"}, "bu_000": {"type": "string", "description": "This is a string"}, "bv_000": {"type": "string", "description": "This is a string"}, "bx_000": {"type": "string", "description": "This is a string"}, "by_000": {"type": "string", "description": "This is a string"}, "bz_000": {"type": "string", "description": "This is a string"}, "ca_000": {"type": "string", "description": "This is a string"}, "cb_000": {"type": "string", "description": "This is a string"}, "cc_000": {"type": "string", "description": "This is a string"}, "cd_000": {"type": "string", "description": "This is a string"}, "ce_000": {"type": "string", "description": "This is a string"}, "cf_000": {"type": "string", "description": "This is a string"}, "cg_000": {"type": "string", "description": "This is a string"}, "ch_000": {"type": "string", "description": "This is a string"}, "ci_000": {"type": "string", "description": "This is a string"}, "cj_000": {"type": "string", "description": "This is a string"}, "ck_000": {"type": "string", "description": "This is a string"}, "cl_000": {"type": "string", "description": "This is a string"}, "cm_000": {"type": "string", "description": "This is a string"}, "cn_000": {"type": "string", "description": "This is a string"}, "cn_001": {"type": "string", "description": "This is a string"}, "cn_002": {"type": "string", "description": "This is a string"}, "cn_003": {"type": "string", "description": "This is a string"}, "cn_004": {"type": "string", "description": "This is a string"}, "cn_005": {"type": "string", "description": "This is a string"}, "cn_006": {"type": "string", "description": "This is a string"}, "cn_007": {"type": "string", "description": "This is a string"}, "cn_008": {"type": "string", "description": "This is a string"}, "cn_009": {"type": "string", "description": "This is a string"}, "co_000": {"type": "string", "description": "This is a string"}, "cp_000": {"type": "string", "description": "This is a string"}, "cq_000": {"type": "string", "description": "This is a string"}, "cr_000": {"type": "string", "description": "This is a string"}, "cs_000": {"type": "string", "description": "This is a string"}, "cs_001": {"type": "string", "description": "This is a string"}, "cs_002": {"type": "string", "description": "This is a string"}, "cs_003": {"type": "string", "description": "This is a string"}, "cs_004": {"type": "string", "description": "This is a string"}, "cs_005": {"type": "string", "description": "This is a string"}, "cs_006": {"type": "string", "description": "This is a string"}, "cs_007": {"type": "string", "description": "This is a string"}, "cs_008": {"type": "string", "description": "This is a string"}, "cs_009": {"type": "string", "description": "This is a string"}, "ct_000": {"type": "string", "description": "This is a string"}, "cu_000": {"type": "string", "description": "This is a string"}, "cv_000": {"type": "string", "description": "This is a string"}, "cx_000": {"type": "string", "description": "This is a string"}, "cy_000": {"type": "string", "description": "This is a string"}, "cz_000": {"type": "string", "description": "This is a string"}, "da_000": {"type": "string", "description": "This is a string"}, "db_000": {"type": "string", "description": "This is a string"}, "dc_000": {"type": "string", "description": "This is a string"}, "dd_000": {"type": "string", "description": "This is a string"}, "de_000": {"type": "string", "description": "This is a string"}, "df_000": {"type": "string", "description": "This is a string"}, "dg_000": {"type": "string", "description": "This is a string"}, "dh_000": {"type": "string", "description": "This is a string"}, "di_000": {"type": "string", "description": "This is a string"}, "dj_000": {"type": "string", "description": "This is a string"}, "dk_000": {"type": "string", "description": "This is a string"}, "dl_000": {"type": "string", "description": "This is a string"}, "dm_000": {"type": "string", "description": "This is a string"}, "dn_000": {"type": "string", "description": "This is a string"}, "do_000": {"type": "string", "description": "This is a string"}, "dp_000": {"type": "string", "description": "This is a string"}, "dq_000": {"type": "string", "description": "This is a string"}, "dr_000": {"type": "string", "description": "This is a string"}, "ds_000": {"type": "string", "description": "This is a string"}, "dt_000": {"type": "string", "description": "This is a string"}, "du_000": {"type": "string", "description": "This is a string"}, "dv_000": {"type": "string", "description": "This is a string"}, "dx_000": {"type": "string", "description": "This is a string"}, "dy_000": {"type": "string", "description": "This is a string"}, "dz_000": {"type": "string", "description": "This is a string"}, "ea_000": {"type": "string", "description": "This is a string"}, "eb_000": {"type": "string", "description": "This is a string"}, "ec_00": {"type": "string", "description": "This is a string"}, "ed_000": {"type": "string", "description": "This is a string"}, "ee_000": {"type": "string", "description": "This is a string"}, "ee_001": {"type": "string", "description": "This is a string"}, "ee_002": {"type": "string", "description": "This is a string"}, "ee_003": {"type": "string", "description": "This is a string"}, "ee_004": {"type": "string", "description": "This is a string"}, "ee_005": {"type": "string", "description": "This is a string"}, "ee_006": {"type": "string", "description": "This is a string"}, "ee_007": {"type": "string", "description": "This is a string"}, "ee_008": {"type": "string", "description": "This is a string"}, "ee_009": {"type": "string", "description": "This is a string"}, "ef_000": {"type": "string", "description": "This is a string"}, "eg_000": {"type": "string", "description": "This is a string"}}, "title": "SampleRecord", "type": "object"}

In [74]:
# Setup schema registry client and serializer
schemaregistryclient=SchemaRegistryClient(schema_config)
json_serializer=JSONSerializer(schema_string,schemaregistryclient)
string_serializer = StringSerializer('utf_8')

In [75]:
#Setup producer
producer=Producer(kafka_config)

In [83]:
# SENDING DATA
from uuid import uuid4
topic='sensor_topic1'
for index,row in df.iterrows():
    data=row.astype(str).to_dict()
    producer.produce(topic=topic,key=string_serializer(str(uuid4()), data),value=json_serializer(data,SerializationContext(topic,MessageField.VALUE)))

In [76]:
from uuid import uuid4

In [82]:
row.astype(str).to_dict()

{'class': 'neg',
 'aa_000': '8',
 'ab_000': 'na',
 'ac_000': '4',
 'ad_000': '2',
 'ae_000': '0',
 'af_000': '0',
 'ag_000': '0',
 'ag_001': '0',
 'ag_002': '0',
 'ag_003': '0',
 'ag_004': '32',
 'ag_005': '1132',
 'ag_006': '2216',
 'ag_007': '0',
 'ag_008': '0',
 'ag_009': '0',
 'ah_000': '924',
 'ai_000': '0',
 'aj_000': '58',
 'ak_000': '0',
 'al_000': '0',
 'am_0': '0',
 'an_000': '10030',
 'ao_000': '8318',
 'ap_000': '11546',
 'aq_000': '128',
 'ar_000': '0',
 'as_000': '0',
 'at_000': '0',
 'au_000': '0',
 'av_000': '4',
 'ax_000': '4',
 'ay_000': '0',
 'ay_001': '0',
 'ay_002': '0',
 'ay_003': '0',
 'ay_004': '0',
 'ay_005': '0',
 'ay_006': '0',
 'ay_007': '0',
 'ay_008': '3380',
 'ay_009': '0',
 'az_000': '1058',
 'az_001': '10',
 'az_002': '14',
 'az_003': '14',
 'az_004': '734',
 'az_005': '1550',
 'az_006': '0',
 'az_007': '0',
 'az_008': '0',
 'az_009': '0',
 'ba_000': '2046',
 'ba_001': '320',
 'ba_002': '78',
 'ba_003': '238',
 'ba_004': '28',
 'ba_005': '64',
 'ba_006': '154',
 'ba_007': '440',
 'ba_008': '12',
 'ba_009': '0',
 'bb_000': '21602',
 'bc_000': '2',
 'bd_000': '2',
 'be_000': '16',
 'bf_000': '0',
 'bg_000': '924',
 'bh_000': '126',
 'bi_000': '10580',
 'bj_000': '948',
 'bk_000': 'na',
 'bl_000': 'na',
 'bm_000': 'na',
 'bn_000': 'na',
 'bo_000': 'na',
 'bp_000': 'na',
 'bq_000': 'na',
 'br_000': 'na',
 'bs_000': '11420',
 'bt_000': '8.37',
 'bu_000': '21602',
 'bv_000': '21602',
 'bx_000': '22618',
 'by_000': '19',
 'bz_000': '444',
 'ca_000': '2082',
 'cb_000': '21520',
 'cc_000': '3380',
 'cd_000': '1209600',
 'ce_000': '132',
 'cf_000': '0',
 'cg_000': '0',
 'ch_000': '0',
 'ci_000': '1129.92',
 'cj_000': '0',
 'ck_000': '1216.32',
 'cl_000': 'na',
 'cm_000': 'na',
 'cn_000': '0',
 'cn_001': '0',
 'cn_002': '0',
 'cn_003': '1136',
 'cn_004': '700',
 'cn_005': '1420',
 'cn_006': '98',
 'cn_007': '26',
 'cn_008': '0',
 'cn_009': '0',
 'co_000': '6',
 'cp_000': '14',
 'cq_000': '21602',
 'cr_000': 'na',
 'cs_000': '1040',
 'cs_001': '4',
 'cs_002': '18',
 'cs_003': '16',
 'cs_004': '526',
 'cs_005': '62',
 'cs_006': '1018',
 'cs_007': '670',
 'cs_008': '26',
 'cs_009': '0',
 'ct_000': '2',
 'cu_000': '4',
 'cv_000': '834',
 'cx_000': '180',
 'cy_000': '0',
 'cz_000': '0',
 'da_000': '0',
 'db_000': '0',
 'dc_000': '1258',
 'dd_000': '14',
 'de_000': '82',
 'df_000': '0',
 'dg_000': '0',
 'dh_000': '0',
 'di_000': '0',
 'dj_000': '0',
 'dk_000': '0',
 'dl_000': '0',
 'dm_000': '0',
 'dn_000': '130',
 'do_000': '0',
 'dp_000': '0',
 'dq_000': '72',
 'dr_000': '100',
 'ds_000': '42',
 'dt_000': '16',
 'du_000': '0',
 'dv_000': '402',
 'dx_000': '0',
 'dy_000': '16',
 'dz_000': '0',
 'ea_000': '0',
 'eb_000': '0',
 'ec_00': 'na',
 'ed_000': 'na',
 'ee_000': '2344',
 'ee_001': '748',
 'ee_002': '42',
 'ee_003': '20',
 'ee_004': '170',
 'ee_005': '50',
 'ee_006': '6',
 'ee_007': '0',
 'ee_008': '0',
 'ee_009': '0',
 'ef_000': '0',
 'eg_000': '0'}

In [80]:
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
7000,neg,8,na,4,2,0,0,0,0,0,...,42,20,170,50,6,0,0,0,0,0
7001,neg,6278,na,126,0,0,0,0,0,0,...,71654,30378,55274,66960,23826,13522,16714,240,0,0
7002,neg,468,0,50,na,0,0,0,0,0,...,2612,1024,2850,11968,1580,550,2,0,0,0
7003,neg,56496,na,32,824,0,0,0,0,0,...,507980,283722,677574,520954,528994,54266,26696,236,0,0
7004,neg,10,na,18,14,2,2,0,0,0,...,160,90,90,104,68,60,0,0,0,0